<!DOCTYPE html>
<html lang = "ko">
<head>
  <meta charset = "UTF-8"/>
  <title>MY UNIVERSE</title>
  <link rel = "stylesheet" href= "/static/css/bootstrap.css"/>
  <link href= "/static/css/mystyle.css" type="text/css" rel="stylesheet"/>

</head>

<body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type = "text/javascript" src = "/static/js/bootstrap.js"></script>



    <div style = "width:auto;height:80px;">
      <a href="../"><img href = "main.html" class="logo" src= "/static/images/logo.png" width = "175" height = "auto" align="left"></a>

      <ul class="horizontal_menu">
        <li class="menu"><a class = "selectmainfont" href="">INFO</a></li>
        <li class="menu"><a class = "mainfont" href="../concert">CONCERT</a></li>
        <li class="menu"><a class = "mainfont" href="../ticketing">TICKETING</a></li>
        <li class="menu"><a class = "mainfont" href="../mypage">MY PAGE</a></li>

        <li class="menulr"><a class = "logreg" href="../login">로그인</a></li>
        <li class="menulr"><p class="lr">/</p></li>
        <li class="menulr"><a class = "logreg" href="../join">회원가입</a></li>
      </ul>



    </div>

    <div style="position:absolute;">
      <div style="position:relative;"><img src="/static/images/mainscreen/main_background.png" style="max-width:100%; height:auto; vertical-align: middle;backgound_size: contain;" /></div>
    </div>

    <div style="position:absolute;">
      <div style="position:relative;"><h2 class="infofont2">INFORMATION</h2></div>
    </div>

    <div style="position:absolute;">
      <div class = "infobox">

        <p class = "infofont">MY UNIVERSE PROJECT. </p>
        <p class = "infofont12">분위기가 무르익은 공연에서 주위를 둘러보았을 때, <br>모두가 밤 하늘의 별처럼 촘촘하게 빛나고 있었습니다.<br>
          그 모습은 마치 작은 우주같았습니다. <br>콘서트는 가수와 팬이 함께 만드는 우주였고, <br>곧 나의 우주라는 생각을 하게 되었습니다. <br> 이로부터 프로젝트 명칭을 "My Universe"로 결정지었습니다.</p>


      </div>
    </div>




</body>



</html>
