<!DOCTYPE html>
<html lang = "ko">
<head>
  <meta charset = "UTF-8"/>
  <title>MY UNIVERSE</title>
  <link rel = "stylesheet" href= "static/css/bootstrap.css"/>
  <link href= "static/css/mystyle.css" type="text/css" rel="stylesheet"/>

</head>

<body>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type = "text/javascript" src = "/static/js/bootstrap.js"></script>


  <table height=80;>
    <tr>
      <td class="logotd">
      <a href=""><img href = "" src= "/static/images/logo.png" width = "175" height = "auto" align="left"></a>
      </td>

      <td class="maintexttd">
          <li class="menu"><a class = "mainfont" href="/info">INFO</a></li>
          <li class="menu"><a class = "mainfont" href="/concert">CONCERT</a></li>
          <li class="menu"><a class = "mainfont" href="/ticketing">TICKETING</a></li>
          <li class="menu"><a class = "mainfont" href="/mypage">MY PAGE</a></li>
      </td>

      <td class="maintextlrtd">
        <li class="menulr"><a class = "logreg" href="/login">로그인</a></li>
        <li class="menulr"><p class="lr">/</p></li>
        <li class="menulr"><a class = "logreg" href="/join">회원가입</a></li>
      </td>

    </tr>

  </table>

    <div style="position:absolute;">
      <div style="position:relative;"><img src="/static/images/mainscreen/main_background.png" style="max-width:100%; height:auto; vertical-align: middle;backgound_size: contain;" /></div>
    </div>

<!--
  <div class="back"> -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <center><p class="font">LOVERS:</p></center><td>
          <center><p class="font">What is your love?</p></center>
          <center><img class="slide" src="/static/images/mainscreen/pos1.png" alt="First slide"></center>
        </div>
        <div class="carousel-item" >
            <center><p class="font">NU'EST CONCERT</p></center><td>
            <center><p class="font">&lt;Segno&gt; IN SEOUL</p></center>
          <center><img class="slide" src="/static/images/mainscreen/pos2.png" alt="Second slide"></center>
        </div>
        <div class="carousel-item" >
            <center><p class="font">노래가 슬퍼도</p></center><td>
            <center><p class="font">인생은 아름답기를</p></center>
          <center><img class="slide" src="/static/images/mainscreen/pos3.png" alt="Third slide"></center>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"  >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div style="position:absolute; left:500px;top: 575px;">
      <form action="#">
        <span style="float:left"><input class = 'sear' type='text', placeholder="Search"/></span>
        <center><input class = 'sear_b' type="submit" value=""/></center>
      </form>
    </div>



  </div>

    <!-- <tr background = "images/mainscreen/main_background.png" "maxwidth:100%; height:auto;>
      <td colspan="3" class="back">

      </td>
    </tr>


  </table> -->










<!--
  <table>
    <tr>
      <td>
        <div>
          <img src="images/mainscreen/main_background.png" style="max-width:100%; height:auto; vertical-align: middle;backgound_size: contain;" />
        </div>
      <table>

        <tr>
        </tr>

        <tr>
          <div style="position:absolute; left:500px;top: 575px;">
            <form action="#">
              <span style="float:left"><input class = 'sear' type='text', placeholder="Search"/></span>
              <center><input class = 'sear_b' type="submit" value=""/></center>
            </form>
          </div>

        </tr>
      </table>

      </td>
    </tr>
  </table>

 -->


<!--

  <div style = "width:auto;height:80px;">
    <a href="main.html"><img href = "main.html" class="logo" src= "images/logo.png" width = "175" height = "auto" align="left"></a>

    <ul class="horizontal_menu">
      <li class="menu"><a class = "mainfont" href="info.html">INFO</a></li>
      <li class="menu"><a class = "mainfont" href="#">CONCERT</a></li>
      <li class="menu"><a class = "mainfont" href="#">TICKETING</a></li>
      <li class="menu"><a class = "mainfont" href="#">MY PAGE</a></li>

      <li class="menulr"><a class = "logreg" href="#">로그인</a></li>
      <li class="menulr"><p class="lr">/</p></li>
      <li class="menulr"><a class = "logreg" href="#">회원가입</a></li>
    </ul>



  </div> -->

<!--


  <div style="position:absolute;">
    <div style="position:relative;"><img src="images/mainscreen/main_background.png" style="max-width:100%; height:auto; vertical-align: middle;backgound_size: contain;" /></div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <center><p class="font">LOVERS:</p></center><td>
        <center><p class="font">What is your love?</p></center>
        <center><img class="slide" src="images/mainscreen/pos1.png" alt="First slide"></center>
      </div>
      <div class="carousel-item" >
          <center><p class="font">NU'EST CONCERT</p></center><td>
          <center><p class="font">&lt;Segno&gt; IN SEOUL</p></center>
        <center><img class="slide" src="images/mainscreen/pos2.png" alt="Second slide"></center>
      </div>
      <div class="carousel-item" >

          <center><p class="font">노래가 슬퍼도</p></center><td>
          <center><p class="font">인생은 아름답기를</p></center>
        <center><img class="slide" src="images/mainscreen/pos3.png" alt="Third slide"></center>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"  >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>











  <div style="position:absolute; left:500px;top: 575px;">
    <form action="#">
      <span style="float:left"><input class = 'sear' type='text', placeholder="Search"/></span>
      <center><input class = 'sear_b' type="submit" value=""/></center>
    </form>
  </div>
 -->




    <!-- <div id = "header" style = "height:663px;background-image:url('images/main_background');"> -->



</body>
</html>
